{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Customer details</h5>
    </div>
    <div class="card-body">
      <strong>ID: </strong><p class="card-text">{{ record.id }}</p>
      <strong>Full name: </strong><p class="card-text">{{ record.first_name }} {{ record.last_name }}</p>
      <strong>Email: </strong><p class="card-text">{{ record.email }}</p>
      <strong>Phone: </strong><p class="card-text">{{ record.phone }}</p>
      <strong>Address: </strong><p class="card-text">{{ record.address }}</p>
      <strong>City, State. (Zipcode): </strong><p class="card-text">{{ record.city }}, {{ record.state }}. ({{ record.zipcode }})</p>
      <a href="#" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_record' record.id %}" class="btn btn-danger">Delete</a>
    </div>
</div>
<p align="right"><em>Created on {{ record.created_at }}</em></p>

<a href="{% url 'home' %}" class="btn btn-link">Back</a>

{% endblock %}